img {
  width: 650px;
  display: block;
  margin: 0 auto;
}

.headshot {
    display: block;
    width: 100;
    overflow: hidden;
}

body {
font-size: medium;
}

a {
  color: royalblue;
  font-weight: bold;
}
